body{
    font-family: 16px/28px arial,sans-serif;
    background-color: #eaeaea;
    background-image: url(../asset/background.jpg) ;
    color: #333;

}

.container{
    width: 800px;
    margin: auto;
    background-color: #fff;
}

.header{
    padding: 20px;

}

.header .judul{
    font-size: 40px;
    font-weight: bold;
}

.header ul li{
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}

.header a{
    text-decoration: none;
    color: salmon;
    
}

.header a:hover{
    background-color: royalblue;
    color: seashell;
}

.hero{
    height: 150px;
    background-image: url(../asset/kopilaptop.png);
    background-size: cover;
    border-bottom: 5px solid lightblue;
    border-top: 4px solid salmon;
}

.content{
    padding: 20px;

}

.content h2{
    font-size: 20px;
    font-weight: bold;
}
 .content .penulis{
     font-size: 11px;
     margin-top: -2px;
     font-style: italic;

 }
.content .penulis a{
    color: palevioletred;
    text-decoration: none;
}

.content p{
    margin-bottom: 20px;
    font-size: 14px;
}

.footer{
    background-color: #333;
    padding: 10px;

}

.footer .copy{
    color: #fff;
    text-align: center;
    font-size: 12px;
    
}

.footer a{
    color: #eaeaea;
    text-decoration: none;

}

@keyframes zoominoutsinglefeatured{
    0%{
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2, 1.2);

    }
    100%{
        transform: scale(1,1);
    }
}
.footer .heart{
    color: red;
    font-size: 20px;
    animation: zoominoutsinglefeature 1s infinite;
}